DATABASE_DRIVER=POSTGRES
DATABASE_URL=postgres://postgres:example@localhost:5432/postgres?sslmode=disable
HANDLER_TYPE=HTTP
PAGINATION_DEFAULT_LIMIT=20
PAGINATION_MAX_LIMIT=100
PRIORITY_USE_POLICY=false
PRIORITY_NEGATIVE_STOCK_FACTOR=1.0
PRIORITY_LEAD_TIME_FACTOR=1.0
PRIORITY_ZERO_SALES_FACTOR=1.0
