POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=example
POSTGRES_DB=postgres
REPOSITORY_TYPE=POSTGRES
HANDLER_TYPE=HTTP
PAGINATION_DEFAULT_LIMIT=20
PAGINATION_MAX_LIMIT=100
PRIORITY_USE_POLICY=false
PRIORITY_NEGATIVE_STOCK_FACTOR=1.0
PRIORITY_LEAD_TIME_FACTOR=1.0
PRIORITY_ZERO_SALES_FACTOR=1.0
SEED_FILE=internal/infrastructure/repository/db/seed.sql
USE_SEED=true
